{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            {{ if .Site.Params.contact.phone }}
                <div class="col-lg-4 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>{{ .Site.Params.contact.phone }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.address }}
            <div class="col-lg-4 text-center">
                <i class="fa fa-address-book-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a target="__blank" href="https://www.google.com/maps/dir//3592+Old+Atlanta+Rd+%23103,+Suwanee,+GA+30024/@34.1016719,-84.1416806,17z/data=!4m16!1m7!3m6!1s0x88f59980bdbfe83f:0x11237a31c5a30a9c!2s3592+Old+Atlanta+Rd+%23103,+Suwanee,+GA+30024!3b1!8m2!3d34.1016675!4d-84.1394919!4m7!1m0!1m5!1m1!1s0x88f59980bdbfe83f:0x11237a31c5a30a9c!2m2!1d-84.1394919!2d34.1016675">{{ .Site.Params.contact.address }}</a></p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
